run = "cowsay Configure me!"
entrypoint = "README.md"

[nix]
channel = "stable-24_11"
packages = ["cowsay", "ungoogled-chromium", "chromium", "xorg.xorgserver", "fluxbox", "x11vnc", "python311Packages.websockify", "novnc"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "browser-startup"

[[workflows.workflow]]
name = "browser-startup"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -c \"while true; do ./startup; sleep 1; done\""

[deployment]
deploymentTarget = "vm"
run = ["./startup"]
