run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["python-3.11"]

[nix]
channel = "stable-24_11"
packages = ["cowsay", "ungoogled-chromium", "chromium", "xorg.xorgserver", "fluxbox", "x11vnc", "python311Packages.websockify", "novnc"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "browser-startup"

[[workflows.workflow]]
name = "browser-startup"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 ./startup.py"

[deployment]
deploymentTarget = "vm"
run = ["python3", "./startup.py"]

[[ports]]
localPort = 5000
externalPort = 80
