run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["python-3.11"]

[nix]
channel = "stable-24_11"
packages = ["chromium", "cowsay", "fluxbox", "novnc", "python311Packages.websockify", "ungoogled-chromium", "x11vnc", "xorg.xorgserver"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "browser-startup"

[[workflows.workflow]]
name = "browser-startup"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./startup"
waitForPort = 5000

[deployment]
deploymentTarget = "vm"
run = ["./startup"]

[[ports]]
localPort = 5000
externalPort = 80
